.maths{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px 5px;
    background-color:#EFE2BA;
    padding: 10px;
      justify-content: space-around;
      align-content: space-evenly;
      
}
.math1{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math2{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math3{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math4{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math5{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math6{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math7{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math8{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}
.math9{
    border-radius: 5px;
    background-color:#FF6D2D;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
    border-radius: 6px;
}